@extends('default')

@section('title') {{{ $caption }}} :: @parent @stop

@section('content')
@include('topbar')
<section id="content" class="table-layout">
 <div class="tray tray-center pn va-t posr">
  <div class="panel m15">
   <div class="panel-heading">
    <span class="panel-title">{{{ isset($content->title) ? lang('admin.label.edit', 'Düzenle') : lang('admin.label.create_new', 'Yeni Oluştur') }}}</span>
    <ul class="nav panel-tabs-border panel-tabs">
     <li class="active">
      <a href="#tab-common" data-toggle="tab">@lang('admin.label.common', 'Genel')</a>
     </li>
     <li>
      <a href="#tab-media" data-toggle="tab">@lang('admin.ceza.label.album_tracks', 'Albüm Müzikleri')</a>
     </li>
    </ul>
   </div>
   <form id="form" class="panel-body p20 pb10" method="post" enctype="multipart/form-data" action="@url()">
    <input type="hidden" id="id" name="id" value="{{ $content->id or 0 }}">
    <input type="hidden" id="version" name="version" value="{{ $content->version or 0 }}">
    <input type="hidden" id="meta-poster_id" name="meta-poster_id" value="{{ $content->meta->poster_id or 0 }}">
    <div class="tab-content pn br-n admin-form">
     <div id="tab-common" class="tab-pane active">
      <div class="section row mbn">
       <div class="col-md-4">
        @include('addon.poster', ['poster' => (isset($content->poster->image) ? $content->poster : null), 'posterTitle' => 'Albüm Resmi'])
       </div>
       <div class="col-md-8 pl15">
        <div class="section mb15 row">
         <div class="col-sm-6">
          <h6 class="fw400">@lang('admin.ceza.label.release_date', 'Çıkış Tarihi')</h6>
          <label class="field prepend-picker-icon">
           <input type="text" id="meta-release_date" name="meta-release_date" class="gui-input" value="{{{ isset($content->meta->release_date) ? date_show($content->meta->release_date, '{day}-{month}-{year}') : now('{day}-{month}-{year}') }}}">
          </label>
         </div>
         <div class="col-sm-6">
          <h6 class="fw400">@lang('admin.ceza.label.publisher', 'Yayıncı Kuruluş')</h6>
          <label class="field prepend-icon">
           <input type="text" id="meta-label" name="meta-label" class="gui-input" value="{{{ $content->meta->label or '' }}}">
          <span class="field-icon">
           <i class="fa fa-tag"></i>
          </span>
          </label>
         </div>
        </div>
        <div class="section mb15">
         <h6 class="fw400">@lang('admin.label.title', 'Başlık')</h6>
         <label class="field prepend-icon">
          <input type="text" id="title" name="title" class="gui-input" value="{{{ $content->title or '' }}}">
          <span class="field-icon">
           <i class="fa fa-tag"></i>
          </span>
         </label>
        </div>
        <div class="section mb15">
         <h6 class="fw400">@lang('admin.label.url', 'URL')</h6>
         <label class="field prepend-icon">
          <input type="text" id="url" name="url" class="gui-input" value="{{{ $content->url or '' }}}">
          <span class="field-icon">
           <i class="fa fa-link"></i>
          </span>
         </label>
        </div>
        <div class="section mb15">
         <h6 class="fw400">@lang('admin.label.description', 'Açıklama')</h6>
         <label class="field prepend-icon">
          <textarea id="meta-summary" name="meta-summary" class="gui-textarea">{{{ $content->meta->summary or '' }}}</textarea>
          <span class="field-icon">
           <i class="fa fa-tag"></i>
          </span>
         </label>
        </div>
        <div class="section mb15">
         <h6 class="fw400">@lang('admin.ceza.label.buy_url', 'Satınalma Linki')</h6>
         <label class="field prepend-icon">
          <textarea id="meta-buyurl" name="meta-buyurl" class="gui-textarea">{{{ $content->meta->buyurl or '' }}}</textarea>
          <span class="field-icon">
           <i class="fa fa-link"></i>
          </span>
         </label>
         <span class="help-block mt10">Satınalma linklerini alt alta yazınız. Örn: http://www.music.com/ceza/suspus</span>
        </div>
        <div class="section mb15">
         <h6 class="fw400">@lang('admin.label.status', 'Durum')</h6>
         <div class="option-group field">
          <label class="option option-primary">
           <input type="radio" id="active_true" name="active" value="true"{{ !isset($content->active) || $content->active == 'true' ? ' checked="checked"' : '' }}>
           <span class="radio"></span>
           @lang('admin.label.active', 'Aktif')
          </label>
          <label class="option option-primary">
           <input type="radio" id="active_false" name="active" value="false"{{ isset($content->active) && $content->active == 'false' ? ' checked="checked"' : '' }}>
           <span class="radio"></span>
           @lang('admin.label.passive', 'Pasif')
          </label>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div id="tab-media" class="tab-pane">
      <div class="panel">
       <div class="panel-heading">
        <span class="panel-icon">
         <i class="fa fa-picture-o"></i>
        </span>
        <span class="panel-title">@lang('admin.label.media_content', 'Medya İçeriği')</span>
        <span class="panel-controls">
         <a href="#track-add" title="@lang('admin.button.add', 'Ekle')"><i class="fa fa-plus"></i></a>
        </span>
       </div>
       <div class="panel-body">
        <div id="tracks" class="h-400 of-y-v"></div>
       </div>
      </div>
     </div>
    </div>
    <hr class="short alt">
    <div class="section row mbn text-right">
     <button type="submit" id="save-btn" class="btn btn-primary">
      <i class="fa fa-save"></i>
      @lang('admin.button.save', 'Kaydet')
     </button>
     @if (isset($content->id) && ($content->id > 0))
     <button type="button" id="delete-btn" data-id="{{ $content->id }}" class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      @lang('admin.button.delete', 'Sil')
     </button>
     @endif
     <button type="button" id="cancel-btn" class="btn btn-default">
      <i class="fa fa-reply"></i>
      @lang('admin.button.cancel', 'İptal')
     </button>
    </div>
   </form>
  </div>
 </div>
</section>
@stop

@section('script')
@parent
<script type="text/javascript" src="{{ $root }}/js/plugins/jquery/jquery-ui-timepicker.min.js"></script>
<script type="text/javascript">
 //<![CDATA[
 $(function() {
  'use strict';

  $('#title').blur(function() {
   if ($('#url').val().length == 0) {
    $('#url').val($.normalizeString($(this).val()));
   }
  });

  $('#meta-release_date').datepicker({
   showOn: 'both',
   buttonText: '<i class="fa fa-calendar-o"></i>',
   prevText: '<i class="fa fa-chevron-left"></i>',
   nextText: '<i class="fa fa-chevron-right"></i>',
   beforeShow: function(input, inst) {
    var themeClass = $(this).parents('.admin-form').attr('class');
    var smartpikr = inst.dpDiv.parent();
    if (!smartpikr.hasClass(themeClass)) {
     inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
    }
   },
   dateFormat: 'dd-mm-yy',
   firstDay: 1
  });

  // select dropdowns - placeholder like creation
  var selectList = $('.admin-form select');
  selectList.each(function(i, e) {
   $(e).on('change', function() {
    if ($(e).val() == '0') $(e).addClass('empty');
    else $(e).removeClass('empty');
   });
  });
  selectList.each(function(i, e) {
   $(e).change();
  });

  function addTrack(r) {
   if (typeof r === 'undefined' || !r.id) {
    r = {
     'id': 0,
     'file_name': '',
     'title': '',
     'author': '',
     'buyurl': ''
    }
   }

   $('<table/>').addClass('table table-hover table-striped').append(
    $('<tbody/>').append(
     $('<tr/>').append(
      $('<td/>').append(
       $('<div/>').addClass('section mb15').append(
        $('<label/>').addClass('field prepend-icon file').append(
         $('<span/>').addClass('button btn-primary').text('@lang("admin.label.pick_file", "Dosya Seç")'),
         $('<input/>', {
          'type': 'hidden',
          'name': 'media_id[]'
         }).val(r.id),
         $('<input/>', {
          'type': 'file',
          'name': 'track-file[]'
         }).addClass('gui-file').change(function(e) {
          $(this).next().val($(this).val());
         }),
         $('<input/>', {
          'type': 'text',
          'name': 'track-file-name[]',
          'placeholder': '@lang("admin.label.no_file_selected_yet", "Henüz dosya seçilmedi!")'
         }).addClass('gui-input').val(r.file_name),
         $('<span/>').addClass('field-icon').append(
          $('<i/>').addClass('fa fa-upload')
         )
        )
       ),
       $('<div/>').addClass('row').append(
        $('<div/>').addClass('col-sm-4').append(
         $('<div/>').addClass('section mbn').append(
          $('<label/>').addClass('field prepend-icon').append(
           $('<input/>', {
            'type': 'text',
            'name': 'track-title[]',
            'placeholder': '@lang("admin.label.title", "Başlık")'
           }).addClass('gui-input').val(r.title),
           $('<span/>').addClass('field-icon').append(
            $('<i/>').addClass('fa fa-tag')
           )
          )
         )
        ),
        $('<div/>').addClass('col-sm-4').append(
         $('<div/>').addClass('section mbn').append(
          $('<label/>').addClass('field prepend-icon').append(
           $('<input/>', {
            'type': 'text',
            'name': 'track-author[]',
            'placeholder': '@lang("admin.ceza.label.author", "Yazar")'
           }).addClass('gui-input').val(r.author),
           $('<span/>').addClass('field-icon').append(
            $('<i/>').addClass('fa fa-tag')
           )
          )
         )
        ),
        $('<div/>').addClass('col-sm-4').append(
         $('<div/>').addClass('section mbn').append(
          $('<label/>').addClass('field prepend-icon').append(
           $('<input/>', {
            'type': 'text',
            'name': 'track-buyurl[]',
            'placeholder': '@lang("admin.ceza.label.buy_url", "Satınalma Linki")'
           }).addClass('gui-input').val(r.buyurl),
           $('<span/>').addClass('field-icon').append(
            $('<i/>').addClass('fa fa-link')
           )
          )
         )
        )
       )
      ),
      $('<td/>').addClass('text-center').append(
       $('<a/>', {
        'href': '#track-remove'
       }).addClass('btn btn-danger').html('&times;').click(function(e) {
        $(this).closest('table').remove();
       })
      )
     )
    )
   ).appendTo('#tracks');
  }

  $('#form').validate({
   // Rules for form validation
   rules : {
    title : {
     required : true
    }
   },
   // Messages for form validation
   messages : {
    title : {
     required : "@lang('admin.message.content_title_required', 'İçerik başlığını girin!')"
    }
   },
   // Do not change code below
   errorPlacement : function(error, element) {
    error.insertAfter(element.parent());
   },
   submitHandler: function(form) {
    var formData = new FormData(form);

    $.ajax({
     'type': $(form).attr('method'),
     'url': $(form).attr('action'),
     'cache': false,
     'dataType': 'json',
     'contentType': false,
     'processData': false,
     'data': formData
    }).done(function(result) {
     if (result.success) {
      if (parseFloat($('#id').val()) == 0) {
       result.onAfterClose = function() {
        $('#cancel-btn').trigger('click');
       };
      }

      $('#id').val(result.return.id);
      $('#version').val(result.return.version);

      if (result.return.poster.id) {
       $.fn.posterSet(result.return.poster);
      }
     }

     if (result.success) {
      message(result);
     } else {
      new PNotify({
       title: "@lang('admin.label.error', 'Hata')",
       text: result.text,
       type: 'danger'
      });
     }
    });
   }
  });

  $('#delete-btn').popConfirm({
   title: "@lang('admin.message.are_you_sure', 'Emin misiniz?')",
   content: "@lang('admin.message.will_delete_content', 'İçerik ile bağlantılı tüm içerikler silinecektir!')",
   placement: "top",
   yesBtn: "@lang('admin.button.yes', 'Evet')",
   noBtn: "@lang('admin.button.no', 'Hayır')",
   confirm: function() {
    $.ajax({
     type: 'DELETE',
     url: $('#form').attr('action')
    }).done(function(result) {
     result.onAfterClose = function() {
      if (result.success) {
       window.location.href = '{{ urlUp($breadcrumb) }}';
      }
     };

     if (result.success) {
      message(result);
     } else {
      new PNotify({
       title: "@lang('admin.label.error', 'Hata')",
       text: result.text,
       type: 'danger'
      });
     }
    });
   }
  });

  $('#cancel-btn').click(function() {
   window.location.href = '{{ urlUp($breadcrumb) }}';
  });

  $('a[href="#track-add"]').click(function() {
   addTrack();
   return false;
  });

  $('#tracks').sortable({
   revert: true
  });

  @if (isset($content->media_audios) && count($content->media_audios))
   @foreach ($content->media_audios as $media)
  addTrack({
   'id': {{ $media->id }},
   'file_name': '{{ $media->file->baseName }}',
   'title': '{{ $media->title }}',
   'author': '{{ $media->author or "" }}',
   'buyurl': '{{ $media->meta->buyurl or "" }}'
  });
   @endforeach
  @endif
 });
 //]]>
</script>
@stop