@extends('default')

@section('title') @lang('admin.menu.polls', 'Anketler') :: @parent @stop

@section('content')
@include('topbar', ['caption' => lang('admin.menu.polls', 'Anketler')])
<section id="content" class="table-layout">
 <div class="tray tray-center p25 va-t posr">
  <div class="panel mb25 mt5">
   <div class="panel-heading">
    <span class="panel-title">{{{ isset($poll->question) ? lang('admin.label.edit', 'Düzenle') : lang('admin.label.create_new', 'Yeni Oluştur') }}}</span>
    <ul class="nav panel-tabs-border panel-tabs">
     <li class="active">
      <a href="#tab-common" data-toggle="tab">@lang('admin.label.common', 'Genel')</a>
     </li>
     <li>
      <a href="#tab-thinks" data-toggle="tab">@lang('admin.poll.label.choices', 'Cevaplar')</a>
     </li>
    </ul>
   </div>
   <form id="form" class="panel-body p20 pb10" method="post" action="@url()">
    <input type="hidden" id="id" name="id" value="{{ $poll->id or 0 }}">
    <input type="hidden" id="version" name="version" value="{{ $poll->version or 0 }}">
    <div class="tab-content pn br-n admin-form">
     <div id="tab-common" class="tab-pane active">
      <div class="section mbn">
       <div class="section mb15">
        <h6 class="fw400">@lang('admin.poll.label.question', 'Soru')</h6>
        <label for="question" class="field prepend-icon">
         <textarea id="question" name="question" class="gui-textarea">{{{ $poll->question or '' }}}</textarea>
         <span class="field-icon">
          <i class="fa fa-tag"></i>
         </span>
        </label>
       </div>
       <div class="section mb15">
        <h6 class="fw400">@lang('admin.label.status', 'Durum')</h6>
        <div class="option-group field">
         <label class="option option-primary">
          <input type="radio" id="active_true" name="active" value="true"{{ isset($poll->active) && $poll->active == 'true' ? ' checked="checked"' : '' }}>
          <span class="radio"></span>
          @lang('admin.label.active', 'Aktif')
         </label>
         <label class="option option-primary">
          <input type="radio" id="active_false" name="active" value="false"{{ !isset($poll->active) || $poll->active == 'false' ? ' checked="checked"' : '' }}>
          <span class="radio"></span>
          @lang('admin.label.passive', 'Pasif')
         </label>
        </div>
       </div>
      </div>
     </div>
     <div id="tab-thinks" class="tab-pane">
      <div class="section mbn">
       @if (isset($politicians))
       @foreach ($politicians as $politician)
       <div class="section mb15">
        <h6 class="fw400">{{{ $politician->full_name }}}</h6>
        <div class="option-group field">
         <label class="option option-primary">
          <input type="radio" id="agree-{{ $politician->id }}" name="think-{{ $politician->id }}" value="agree"{{ isset($poll->politicians[$politician->id]->think) && $poll->politicians[$politician->id]->think == 'agree' ? ' checked="checked"' : '' }}>
          <span class="radio"></span>
          @lang('admin.poll.label.agree', 'Katılıyorum')
         </label>
         <label class="option option-primary">
          <input type="radio" id="disagree-{{ $politician->id }}" name="think-{{ $politician->id }}" value="disagree"{{ isset($poll->politicians[$politician->id]->think) && $poll->politicians[$politician->id]->think == 'disagree' ? ' checked="checked"' : '' }}>
          <span class="radio"></span>
          @lang('admin.poll.label.disagree', 'Katılmıyorum')
         </label>
         <label class="option option-primary">
          <input type="radio" id="neutral-{{ $politician->id }}" name="think-{{ $politician->id }}" value="neutral"{{ isset($poll->politicians[$politician->id]->think) && $poll->politicians[$politician->id]->think == 'neutral' ? ' checked="checked"' : '' }}>
          <span class="radio"></span>
          @lang('admin.poll.label.neutral', 'Fikrim Yok')
         </label>
        </div>
       </div>
       <div class="section mb15">
        <label for="description-{{ $politician->id }}" class="field prepend-icon">
         <textarea id="description-{{ $politician->id }}" name="description-{{ $politician->id }}" class="gui-textarea">{{{ $poll->politicians[$politician->id]->description or '' }}}</textarea>
         <span class="field-icon">
          <i class="fa fa-tag"></i>
         </span>
        </label>
       </div>
       <hr>
       @endforeach
       @else
       <div class="m10 alert alert-danger fade in">
        <i class="fa-fw fa fa-warning"></i>
        <strong>@lang('admin.label.warning', 'Uyarı'):</strong> Siyasiler oluşturulmamış!
       </div>
       @endif
      </div>
     </div>
    </div>
    <hr class="short alt">
    <div class="section row mbn text-right">
     <button type="submit" id="save-btn" class="btn btn-primary">
      <i class="fa fa-save"></i>
      @lang('admin.button.save', 'Kaydet')
     </button>
     @if (isset($poll->id) && ($poll->id > 0))
     <button type="button" id="delete-btn" data-id="{{ $poll->id }}" class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      @lang('admin.button.delete', 'Sil')
     </button>
     @endif
     <button type="button" id="cancel-btn" class="btn btn-default">
      <i class="fa fa-reply"></i>
      @lang('admin.button.cancel', 'İptal')
     </button>
    </div>
   </form>
  </div>
 </div>
</section>
@stop

@section('script')
@parent
<script type="text/javascript" src="{{ $root }}/js/plugins/jquery/jquery.popconfirm.js"></script>
<script type="text/javascript" src="{{ $root }}/js/plugins/jquery/jquery.validate.min.js"></script>
<script type="text/javascript">
 //<![CDATA[
 $(function() {
  'use strict';

  $('#form').validate({
   // Rules for form validation
   rules : {
    question : {
     required : true
    }
   },
   // Messages for form validation
   messages : {
    question : {
     required : 'Soruyu yazmadınız!'
    }
   },
   // Do not change code below
   errorPlacement : function(error, element) {
    error.insertAfter(element.parent());
   },
   submitHandler: function(form) {
    $.ajax({
     'type': $(form).attr('method'),
     'url': $(form).attr('action'),
     'data': $(form).serialize()
    }).done(function(result) {
     if (result.success) {
      if (parseFloat($('#id').val()) == 0) {
       result.onAfterClose = function() {
        $('#cancel-btn').trigger('click');
       };
      }

      $('#id').val(result.return.id);
      $('#version').val(result.return.version);
     }

     message(result);
    });
   }
  });

  $('#delete-btn').popConfirm({
   title: "@lang('admin.message.are_you_sure', 'Emin misiniz?')",
   content: "@lang('admin.message.will_delete_content', 'İçerik ile bağlantılı tüm içerikler silinecektir!')",
   placement: "top",
   yesBtn: "@lang('admin.button.yes', 'Evet')",
   noBtn: "@lang('admin.button.no', 'Hayır')",
   confirm: function() {
    $.ajax({
     type: 'DELETE',
     url: $('#form').attr('action')
    }).done(function(result) {
     result.onAfterClose = function() {
      if (result.success) {
       window.location.href = '{{ urlUp($breadcrumb) }}';
      }
     };

     message(result);
    });
   }
  });

  $('#cancel-btn').click(function() {
   window.location.href = '{{ urlUp($breadcrumb) }}';
  });
 });
 //]]>
</script>
@stop