@extends('default', ['bodyClass' => 'messages-page'])

@section('title') {{{ $caption }}} :: @parent @stop

@section('content')
@include('topbar')
<section id="content" class="table-layout">
  <div class="tray tray-center pn va-t bg-white">
    <div class="pv10 pl15 pr10 br-b">
      @if (isset($mail) && $mail->id)
      <div class="row table-layout">
        <div class="col-md-7 va-m pln">
          <div class="btn-group">
            <a href="@url($prefix . 'my/inbox')" class="btn btn-danger light">@lang('admin.button.return_to_inbox', 'Listeye Dön')</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-9 text-right prn">
          <div class="btn-group mr10">
            <button type="button" class="btn btn-default light" data-trash="{{ $mail->key }}" title="@lang('admin.label.trash', 'Çöp Kutusuna Gönder')"><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-default light" data-print=".message-body" title="@lang('admin.label.print', 'Yazdır')"><i class="fa fa-print"></i></button>
          </div>
          <!--<div class="btn-group">
            <button type="button" class="btn btn-default light"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-default light"><i class="fa fa-chevron-right"></i></button>
          </div>-->
        </div>
      </div>
      @endif
    </div>
    <div class="message-view">
      <div class="message-meta">
        <span class="pull-right text-muted">{{{ date_show($mail->date, 'long', true) }}}</span>
        <h3 class="subject">@lang('admin.label.subject', 'Konu'): {{{ $mail->subject }}}</h3>
        <hr class="mt20 mb15">
      </div>
      <div class="message-header">
        <img src="{{ $root }}/img/avatar.png" class="img-responsive mw40 pull-left mr20">
        <h4 class="mt15 mb5">@lang('admin.label.from', 'Kimden'): {{{ $row->sender_name ? $row->sender_first_name . ' ' . $row->sender_last_name : lang('label.anonymous_user', 'Anonim Kullanıcı') }}}</h4>
        <small class="text-muted clearfix">{{ $mail->sender_email ? $mail->sender_email : '-' }}</small>
      </div>
      <hr class="mb15 mt15">
      <div class="message-body">
        {{ $mail->content }}
      </div>
      @if (count($mail->attachments))
      <hr class="mb15 mt15">
      <div class="message-footer">
        <h4 class="mb25">
          <span class="glyphicons glyphicons-paperclip mr10"></span>
          @lang('admin.label.has_attachments', [count($mail->attachments)], '%s Eklenti') -
          <small>
            <a href="javascript:void(0)">@lang('admin.button.download_all', 'Tümünü İndir')</a>
          </small>
        </h4>
        <div class="attachments mb10">
          @foreach ($mail->attachments as $attachment)
          <img src="assets/img/stock/1.jpg" class="responsive mw140 mr15">
          @endforeach
        </div>
      </div>
      @endif
    </div>
  </div>
</section>
@stop

@section('script')
@parent
<script type="text/javascript">
  //<![CDATA[
  $(function () {
    'use strict';

    $('[data-print]').click(function(e) {
      e.preventDefault();

      var content = $($(this).attr('data-print'));

      if (content.length) {
        var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write(content.html());
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
      }
    });

    $('[data-trash]').popConfirm({
      title: "@lang('admin.message.are_you_sure', 'Emin misiniz?')",
      content: "@lang('admin.message.will_trash_mail', 'Posta çöp kutusuna gönderilecek!')",
      placement: "left",
      yesBtn: "@lang('admin.button.yes', 'Evet')",
      noBtn: "@lang('admin.button.no', 'Hayır')",
      confirm: function() {
        var $id = $(this).attr('data-trash');

        $.ajax({
          method: 'DELETE',
          url: "@url($prefix . 'my/inbox/trash/0')".replace('/0', '/' + $id)
        }).done(function (result) {
          if (result.success) {
            window.location.href = "@url($prefix . 'my/inbox')";
          } else {
            new PNotify({
              title: "@lang('admin.label.error', 'Hata')",
              text: result.text,
              type: 'warning'
            });
          }
        }).fail(function () {
          new PNotify({
            title: "@lang('admin.label.error', 'Hata')",
            text: "@lang('admin.message.error_occurred', 'Bir hata oluştu')",
            type: 'danger'
          });
        });
      }
    });
  });
  //]]>
</script>
@stop